<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jawad.com.eventsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="jawad.com.eventsapp.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jawad.com.eventsapp.AddEvent"
            android:label="Add Event"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name="jawad.com.eventsapp.EditEvent"
            android:label="Add Event"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name="jawad.com.eventsapp.AddNote"
            android:label="Add Note"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name="jawad.com.eventsapp.EditNote"
            android:label="Edit Note"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name="jawad.com.eventsapp.SingleEvent"
            android:label="@string/title_activity_single_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="jawad.com.eventsapp.Search" />
        <activity
            android:name="jawad.com.eventsapp.SingleNote"
            android:label="@string/title_activity_single_note"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jawad.com.eventsapp.SingleEvent" />
        </activity>
    </application>

</manifest>